<template>
  <div>
    <h1>Los items son:</h1>
    <Tabla :items="items" />
    <hr>
    <form @submit.prevent="agregarItem()">
      <label>
        Nombre:
        <input type="text" v-model="item.nombre" />
      </label>
      <br>
      <label>
        descripcion
        <input type="text" v-model="item.descripcion" />
      </label>
      <br>
      <button type="submit">Envio rapido</button>
    </form>
    <p>datos: {{item.nombre}} - {{item.descripcion}}</p>
  </div>
</template>
<script>
import Tabla from "@/components/Tabla.vue";
export default {
  components: {
    Tabla
  },
  data() {
    return {
      items: [],
      item: { nombre: "", descripcion: "" }
    };
  },
  created() {
    this.listarItems();
  },
  methods: {
    listarItems() {
      this.axios
        .get("/item")
        .then(res => {
          this.items = res.data;
        })
        .catch(e => console.log);
    },
    agregarItem() {
      this.axios.post("/item", this.item).then(res => {
        this.items.push(res.data);
        this.item.nombre = "";
        this.item.descripcion = "";
      });
      console.log(this.item);
    }
  }
};
</script>