<template>
  <div>
    <table border="1">
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Opciones</th>
      <tr v-for="(item,index) in items" :key="index">
        <td>
          <input type="text" v-model="item._id" />
        </td>
        <td>
          <input type="text" v-model="item.nombre" />
        </td>
        <td>
          <input type="text" v-model="item.descripcion" />
        </td>
        <td>
          <button @click="editar(item._id, item.nombre, item.descripcion)">Editar</button>
          <button @click="eliminar(item._id)">Eliminar</button>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  name: "Tabla",
  props: {
    items: null
  },
  data() {
      return {

    };
  },
  created(){
  },
  methods: {
    editar(id,nombre, descripcion) {
      console.log("editando...", id);
      this.axios.put(`/item/${id}`,{nombre,descripcion})
    },
    eliminar(id) {
      console.log("eliminando...", id);
      this.axios.delete(`/item/${id}`);
      const index = this.items.findIndex(a => a._id === id);
      this.items.splice(index, 1);
    }
  }
};
</script>